body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    font-size: 18px;
    width: 1440px;
    height: 1000px;
    font-family: 'Hanken Grotesk', sans-serif;
}
.heading{
    font-size: 23px;
    text-align: center;
    color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk', sans-serif;
    margin-top: 0px;

}
.project{
    display:flex;
    flex-direction: row;
    width: 55vw;
    box-shadow: 2px 2px 7px 2px hsl(241, 100%, 89%);
    margin-bottom: 20px;
    border-radius: 20px;
    height: 75vh;
}
.firstpack{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 27.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;

}
.secondpack{
    padding: 20px;
    width: 250px;
 
 
}
.circle{
 text-align: center; 
 background-image: linear-gradient(360deg, hsla(241, 72%, 46%, 0),hsla(256, 72%, 46%, 1));  
 color: hsl(0, 0%, 100%);
 font-size: 50px;
 height: 200px;
 width: 200px;
 border-radius: 50%;
 margin-top: 20px;
 font-family: 'Hanken Grotesk', sans-serif;
  
}
.circle h2{
    font-size: 6vw;
    margin-bottom: -25px;
     position: relative;
     top: -20px;
}
.circle h3{
    font-size: 18px;
    margin-top: 0;  
    color: hsl(241, 100%, 89%);
}
.after{
    margin-bottom: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}
.note{
    color: hsl(241, 100%, 89%);
    font-size: 17px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    
    
}
.secondpack{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    
}
.head2sum{
    font-size: 29px;
    position: relative;
    top: -0.7vw;
}
.summary:not(.head2sum){
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.grid{
    width: 130%;
    height: 5.5vh; 
    border-radius: 10px;
    padding: 14px;
    position: relative;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 900;
    font-family: 'Hanken Grotesk', sans-serif;
    display: block;
    left: -1vw;
    line-height: 5.5vh;
}
.button{
    margin: auto;
    width: 110%;
    background-color: hsl(224, 30%, 27%);
    padding: 13px;
    border-radius: 25px;
    margin-top: 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    height: 5vh;
    margin-left: .5vw;
    line-height: 5vh;

}
.button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}
.first{
    color: hsl(0, 100%, 67%);
    background-color: hsla( 0, 100%, 67%,0.1);
}
.second{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%,0.1);
}
.third{
    color:  hsl(166, 100%, 37%);
    background-color:  hsla(166, 100%, 37%, 0.1);
}
.forth{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.1);
}
.right{
    float: right;
    color: hsl(224, 30%, 27%);
}
.color{
    color: hsl(241, 100%, 89%);
}
 
